<%- include('header')%>

<h2>
    Edit Role:
    <a href="/admin/roles">Roles</a>
</h2>
<div>
    <form method="POST">
        <label>Title:</label>
        <input type="text" name="title" value="<%= role.title %>">
        <br>
        <label>Description:<label>
        <textarea name="description"><%= role.description %></textarea>
        <br>
        <label>Category:</label>
        <select name="category">
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <% if(category.id == role ){ %>selected<% } %>><%= category.name %><option>
            <% }) %>
        </select>
        <button>Save</button>
    </form>
</div>

<%- include('footer')%>
